[Unit]
Description=FastAPI Worker Application Example
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/apps/fastapi-web-example
Environment="REDIS_HOST=localhost"
Environment="REDIS_PORT=6379"
Environment="REDIS_DB=0"
Environment="REDIS_PWD=xxxxx"
LimitNOFILE=4096
ExecStart=/opt/apps/fastapi-web-example/.venv/bin/celery -A app.worker worker -l info
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target